.body{
  background-color: rgb(247, 243, 243);
}
.dash{
  background-color: rgb(199, 226, 226);
  padding: 2px;
  margin-bottom: 0%;
}
.dash2{
  background-color: rgb(231, 194, 239);
  padding: 2px;
  margin-bottom: 40px;
}
.dash3{
  background-color: rgb(221, 244, 209);
  padding: 2px;
  margin-bottom: 40px;
}
.head{
  margin-left: 20px;
}
.head1{
  margin-left: 20px;
  opacity: 0.5;
}

/* Login */
.login{
  filter: drop-shadow(5px 5px 20px rgb(148, 148, 148));
  
}
.box{
  box-shadow: 1px 1px 20px gray;
  background-color: rgb(248, 247, 247);
  border-radius: 1%;
}
.faq{
  margin-left: 30px;
}